PORT=4000
MONGODB_URI=mongodb+srv://khoa097165_db_user:daubuoinam123@cluster0.tqd4zgx.mongodb.net/?appName=Cluster0
JWT_SECRET=replace-with-a-long-random-secret
NODE_ENV=development
CLOUDINARY_CLOUD_NAME=rghu6hok
CLOUDINARY_API_KEY=375223665329591
CLOUDINARY_API_SECRET=375223665329591
